ipykernel
pandas
numpy
openpyxl
langchain
langchain-community
langchain-chroma
langchain-openai
python-dotenv
tiktoken
chromadb
langgraph
langchain-text-splitters
fastapi
uvicorn
networkx
lxml
gunicorn
pydantic==2.11.0
aiofiles